<div class="container">
    <div class="config-card">
        <div class="configure">
            <div class="configure-title">Configure</div>

            <div class="player-counter">
                <div class="player-counter-title">Number of Players</div>
                <div class="player-counter-buttons">
                    <div class="player-counter-decrement action">-</div>
                    <div class="player-counter-value">{{playerCount}}</div>
                    <div class="player-counter-increment action">+</div>
                </div>
            </div>

            <div class="starting-balance">
                <div class="starting-balance-title">Starting Balance</div>
                <div class="starting-balance-buttons">
                    <div class="starting-balance-decrement action">-</div>
                    <div class="starting-balance-value">{{startingBalance}}</div>
                    <div class="starting-balance-increment action">+</div>
                </div>
            </div>
            <div class="dice">
                <div class="dice-title">Number of Dice</div>
                <div class="dice-buttons">
                    <div class="dice-decrement action">-</div>
                    <div class="dice-value">{{numberDice}}</div>
                    <div class="dice-increment action">+</div>
                </div>
            </div>

        </div>      
        
        
    </div>
</div>