<div class="container">

    <div class="section title" >Left Right Center</div>
    <div class="section content" >

        <!-- <config *ngIf="configComplete"></config> -->


    </div>


    <div class="footer" >

        <!-- <div class="block">
            <div class="block-title">
                Number of Players
            </div>
            <div class="block-player-counter">
                <div class="player-count-action action">-</div>
                <div class="player-count">4</div>
                <div class="player-count-action action">+</div>
            </div>
        </div>

        <div class="block">

        </div>

        <div class="block">

        </div>

        <div class="block">

        </div> -->

    </div>

</div>